<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-list lines="none" >
            <ion-item>
              <ion-label class="title">Title One</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Blockchain</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Machine Learning</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Artificial Intelligence</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Quantum Computing</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Startup</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Cryptocurrencies</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col>
          <ion-list lines="none">
            <ion-item>
              <ion-label class="title">Title Two</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Blockchain</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Machine Learning</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Artificial Intelligence</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Quantum Computing</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Startup</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Cryptocurrencies</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col>
          <ion-list lines="none">
            <ion-item>
              <ion-label class="title">Title Three</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Blockchain</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Machine Learning</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Artificial Intelligence</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Quantum Computing</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Startup</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Cryptocurrencies</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col>
          <ion-list lines="none">
            <ion-item>
              <ion-label class="title">Title Four</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Blockchain</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Machine Learning</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Artificial Intelligence</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Quantum Computing</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Startup</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="texto">Cryptocurrencies</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-text><h6>Tech News Copyright</h6></ion-text>

  </ion-toolbar>
</ion-footer>
