<ion-app>
  <ion-menu swipe-gesture="false" side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="light">
        <ion-thumbnail slot="start">
          <ion-img src='assets/img/tech/brand.png'></ion-img>
        </ion-thumbnail>
        <ion-title>TechNews</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Web Development</ion-item>
        <ion-item>Blockchain</ion-item>
        <ion-item>Machine Learning</ion-item>
        <ion-item>Artificial Intelligence</ion-item>
        <ion-item>Quantum Computing</ion-item>
        <ion-item>Startup</ion-item>
        <ion-item>Cryptocurrencies</ion-item>
        <ion-item>More</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
