<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-thumbnail slot="start">
      <ion-img src='assets/img/tech/brand.png'></ion-img>
    </ion-thumbnail>

    <div class="links">
      <div class="fila1">
        <ion-label>Web Development</ion-label>
        <ion-label>Blockchain</ion-label>
        <ion-label>Machine Learning</ion-label>
        <ion-label>Artificial Intelligence</ion-label>
      </div>
      <div class="fila2">
        <ion-label>Quantum Computing</ion-label>
        <ion-label>Startup</ion-label>
        <ion-label>Cryptocurrencies</ion-label>
        <ion-label>More</ion-label>
      </div>

    </div>

    <ion-icon slot="end" name="search-outline"></ion-icon>

  </ion-toolbar>

</ion-header>
